<!DOCTYPE html>
<html>
<head>
	<title>Index events</title>
</head>
<body>
<div class="row">
	<%@events.each{|event|%>
	<div class="col-lg-4 col-sm-6 portfolio-item">
		<div class="card h-100 w-100">
		  	<div class="card-body">
			    <h5 class="card-title"><%=event.title%></h5>
			    <%= link_to "Plus de détails",event_path(id:event.id),class:"card-link"%>
			</div>
		</div>
	</div>
	<%}%>
</dir>

</body>
</html>